<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello world from template</h1>
    <p>{{ var2 }}</p>
    {% for i in list %}
        <p>{{ i }}</p>
    {% endfor %}
    {% if abcd %}
     <p>abcd is true</p>
    {% else %}
     <p>else</p>
    {% endif %}

    <form action="/test" method="post">
        <input type="text" name="name">
        <input type="submit" value="submit">
    </form>
</body>
</html>